/* HEADER DESIGN*/
.header{

    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px 15px;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .logo{
    width: 75px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 30px;
}

.header a{
    margin: 0px 5px;

    color: rgb(68, 68, 121);
    text-decoration: none;
}

.header img{
    margin: 0px 5px;
}

.header button{
    background-color: #4285f4;
    padding: 10px 20px;
    margin: 0px 5px;

    border: 0px;
    border-radius: 3px;

    color: white;
}

/* FOOTER DESIGN*/
.footer{
    height:12vh;
    background-color: rgb(238, 241, 242);

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .line_break{
    border-top: 1px solid rgb(27, 27, 27);
}

.footer .high_footer{
    height: 6vh;

    display: flex;
    align-items: center;
    
    margin-left: 30px;
}

.footer .low_footer{
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 15px;
    margin-right: 15px;
}

.footer .low_footer .low_footer_start, .low_footer_end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .low_footer .low_footer_start p, .low_footer_end p {
    margin-left: 15px;
    margin-right: 15px;
}

/* MAIN BODY DESIGN */
body{
    height: 75vh;
    margin: 0;

    background-color: white;
}

.container{
    height: 100%;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container .upper_body h1{
    margin-left: 70px;

    font-weight: lighter;
    font-size: 24px;
    color: rgb(204, 104, 61);
}

.container .upper_body .line_break{
    border-top: 1px solid rgb(192, 192, 192)
}

.container .search_form{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    margin-left: 60px;
}

.container .search_form .field{
    display: flex;
    flex-direction: row;
}

.container .search_form .field .field_requirments{
    display: flex;
    flex-direction: column;

    font-size: 12px;
}

.container .search_form .field .field_inputs{
    display: flex;
    flex-direction: column;

    font-size: 12px;
}

.container .search_form .submit_button{
    width: 150px;

    background-color: #4285f4;
    padding: 10px;

    border: 0px;
    border-radius: 3px;

    color: white;
}
