/* HEADER DESIGN*/
.header{

    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px 15px;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .logo{
    width: 75px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 30px;
}

.header a{
    margin: 0px 5px;

    color: rgb(68, 68, 121);
    text-decoration: none;
}

.header img{
    margin: 0px 5px;
}

.header button{
    background-color: #4285f4;
    padding: 10px 20px;
    margin: 0px 5px;

    border: 0px;
    border-radius: 3px;

    color: white;
}

/* FOOTER DESIGN*/
.footer{
    height:12vh;
    background-color: rgb(238, 241, 242);

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .line_break{
    border-top: 1px solid rgb(27, 27, 27);
}

.footer .high_footer{
    height: 6vh;

    display: flex;
    align-items: center;
    
    margin-left: 30px;
}

.footer .low_footer{
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 15px;
    margin-right: 15px;
}

.footer .low_footer .low_footer_start, .low_footer_end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .low_footer .low_footer_start p, .low_footer_end p {
    margin-left: 15px;
    margin-right: 15px;
}

/* MAIN BODY DESIGN */
body{
    height: 75vh;
    margin: 0;

    background-color: white;
}

.container{
    height: 100%;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container .upper_body h1{
    margin-left: 70px;

    font-weight: lighter;
    font-size: 24px;
    color: rgb(204, 104, 61);
}

.container .upper_body .line_break{
    border-top: 1px solid rgb(192, 192, 192)
}

.container #intro{
    margin-left: 70px;
}

.container .search_form{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr auto;
    grid-template-rows: auto auto auto auto;

    margin-left: 70px;
}

.container .search_form .field{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.container .search_form .field .field_requirments{
    grid-column: 1;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
}

.container .search_form .field .field_requirments p{
    font-weight: lighter;
    font-size: 13px;
}

.container .search_form .field .field_inputs{
    grid-column: 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .search_form .field .field_inputs input{
    width: 600px;
    background-color: white;
    border: #d3d3d3 solid 1px;
}

.container .search_form .field .field_inputs input:focus{
    background-color: white;
    border: #4285f4 solid 1px;
}

.container .search_form .field .field_details{
    grid-column: 4;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .search_form .field .field_details p{
    font-weight: lighter;
    font-size: 10px;
}

.container .search_form .submit_button{
    width: 125px;

    grid-row: 5;
    grid-column: 2;

    justify-self: end;

    margin-top: 25px;

    background-color: #4285f4;
    padding: 10px;

    border: 0px;
    border-radius: 3px;

    color: white;
}
