{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/utils.js' %}"></script>
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}

{% block body %}

    <div id="new-post">
        {% if user.is_authenticated %}
        <div id="new-post-box">
            <h4>New Post</h4>
            <br>
            <form id="new-post-textbox" method="POST" action="{% url 'add_post' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
        {% endif %}
    </div>

    <div id="following-posts">

    </div>

{% endblock %}