{% extends "auctions/layout.html" %}

{% block title %}{{ category_name }}{% endblock %}

{% block body %}

    <h1>Products in {{ category_name }}</h1>
    <a href="{% url 'index' %}" class="back-link">Back to the Listings Page</a>
    <hr>

    <div class="products-container">
        {% for product in products %}
            <a class="product-option" href="{% url "product_page" product_id=product.id %}">{{ product.title }}</a>
        {% empty %}
            <p>Uh oh! There are no listings in this category...</p>
        {% endfor %}
    </div>

{% endblock %}