{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="carousel">
        {% for listing in active_listings %}

            <div class="listing-container">

                <div class="listing-preview-image">
                    <img src="{{ listing.photo }}" alt="Photo Preview">
                </div>

                <hr>

                <div class="listing-preview-display">

                    <div>
                        <a class="listing-preview-title" href="{% url 'product_page' product_id=listing.id %}">{{ listing.title }}</a>
                        <p class="listing-preview-description">Description: {{ listing.description }}</p>
                    </div>

                    <div class="listing-preview-price">
                        <p class="listing-preview-start-price">Lowest Ask: <span>{{ listing.start_price }}$</span></p>
                        <p class="listing-preview-current-price">Highest Bid: <span>{{ listing.current_price }}$</span></p>
                    </div>

                </div>

            </div>

        {% endfor %}
    </div>

    <hr>
    <h2>Closed Listings</h2>

    <div class="carousel">
        {% for listing in closed_listings %}

            <div class="listing-container">

                <div class="listing-preview-image">
                    <img src="{{ listing.photo }}" alt="Photo Preview">
                </div>

                <hr>

                <div class="listing-preview-display">

                    <div>
                        <a class="listing-preview-title" href="{% url 'product_page' product_id=listing.id %}">{{ listing.title }}</a>
                        <p class="listing-preview-description">Description: {{ listing.description }}</p>
                    </div>

                    <div class="listing-preview-price">
                        <p class="listing-preview-start-price">Lowest Ask: <span>{{ listing.start_price }}$</span></p>
                        <p class="listing-preview-current-price">Highest Bid: <span>{{ listing.current_price }}$</span></p>
                    </div>

                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}