{% extends "auctions/layout.html" %}

{% block body %}

    <div class="product-header">
        <h2>{{ product.title }}</h2>
        <a href="{% url 'index' %}">Back to Listings</a>
    </div>

    <hr>
    <div class="product-body">
        <img src="{{ product.photo }}" alt="Product Image">
        <div class="product-details">
            <div class="upper-container">

                {% if user.username == product.seller.username %}
                    <div>Closing price: {{ product.current_price }}</div>
                    <form action="{% url 'close_listing' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Close Auction">
                    </form>
                {% else %}
                    <p>Description: {{ product.description }}</p>
                    {% if user.is_authenticated %}
                        <div class="watchlist-box">
                            {% if wishlist_status %}
                                <form action="{% url 'add_wishlist' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="submit" value="Remove from Wishlist">
                                </form>
                            {% else %}
                                <form action="{% url 'add_wishlist' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="submit" value="Add to Wishlist">
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                <div class="lower-container">
                    <div class="bids">
                        {% if user.is_authenticated %}
                            <div class="place-bid-box">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="number" step=".01" pattern="^\d+(?:\.\d{1,2})?$"
                                           min={{ product.current_price }} placeholder="{{ product.current_price }}">
                                    <input type="submit" value="Enter">
                                </form>
                            </div>
                        {% else %}
                            <p>Sign in to bid now</p>
                        {% endif %}
                        <hr>
                        <div class="prices">
                            <p>Starting Price: <span>{{ product.start_price }}$</span></p>
                            <p>Current Price: <span>{{ product.current_price }}$</span></p>
                        </div>
                    </div>
                {% endif %}
                </div>
        </div>
    </div>

    <hr>
    <div class="comment-box">
        <br>
        <h5>Comments for {{ product.title }}:</h5>
        <br>
        {% for comment in comments%}
            <div class="comment">
                <div class="main-info">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcreazilla.com%2Fnodes%2F3202933-user-circle-icon&psig=AOvVaw07lKTdQIBff3A9QQTB2bWz&ust=1709105210079000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMDt6aL_yoQDFQAAAAAdAAAAABAD">
                    <p class="user-name">{{ comment.reviewer.username }}</p>
                    <hr>
                    <p class="user-rating">{{ comment.rating }}</p>
                </div>
                <div class="extended-info">
                    <p class="title">{{ comment.title }}</p>
                    <p class="description">{{ comment.description }}</p>
                </div>
            </div>
        {% empty %}
            <p>No comments to display.</p>
        {% endfor %}
    </div>

{% endblock %}