{% extends "auctions/layout.html" %}

{% block body %}

    <div class="product-header">
        <h2>Ongoing Auction</h2>
        <p>Posted by <span>{{ product.seller.username }}</span></p>
    </div>

    <hr>
    <div class="product-body">
        <img src="{{ product.photo }}" alt="Product Image">
        <div class="product-details">
            <h5>{{ product.title }}</h5>
            <p class="product-category">Category: {{ product.category.category }}</p>
            <p>Description: {{ product.description }}</p>

            <div class="bids">
                <div class="prices">
                    <p>Starting Price: <span>{{ product.start_price }}$</span></p>
                    <p>Current Price: <span>{{ product.current_price }}$</span></p>
                </div>
                <div class="place-bid-box">
                    <form>
                        <input type="number" step=".01" pattern="^\d+(?:\.\d{1,2})?$"
                               min={{ product.current_price }} placeholder="{{ product.current_price }}">
                        <input type="submit" value="Place Bid">
                    </form>
                    <a href="{% url 'index' %}">Back to Listings</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="comment-box">
        {% for comment in comments%}
            <div class="comment">
                <div class="main-info">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcreazilla.com%2Fnodes%2F3202933-user-circle-icon&psig=AOvVaw07lKTdQIBff3A9QQTB2bWz&ust=1709105210079000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMDt6aL_yoQDFQAAAAAdAAAAABAD">
                    <p class="user-name">{{ comment.reviewer.username }}</p>
                    <hr>
                    <p class="user-rating">{{ comment.rating }}</p>
                </div>
                <div class="extended-info">
                    <p class="title">{{ comment.title }}</p>
                    <p class="description">{{ comment.description }}</p>
                </div>
            </div>
        {% empty %}
            <p>No comments to display.</p>
        {% endfor %}
    </div>

{% endblock %}