
/* Main Site Layout*/

html {
    height: auto;
}

body {

    height: 100%;

    display: flex;
    flex-direction: row;

    font-family: Arial, Helvetica, sans-serif;
}

/* Reusables */
.button, .button-inverted {
    width: 200px;

    border: 1px solid white;
    border-radius: 10px;

    padding: 10px;
}

.button {
    background-color: white;
    color: black;
}

.button-inverted {
    background-color: black;
    color: white;
}

/* Sidebar / Main Body Sectioning */
.sidebar {

    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;

    margin-right: 30px;
    padding: 40px;

    background-color: black;
    color:white;

}

.sidebar .sign-status {
    margin-top: -15px;
}

.sidebar .user-option {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sidebar .user-option a {
    color: white;
}

.sidebar .nav{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    margin-top: 45px;
    margin-left: -15px;
}

.sidebar .nav .nav-item a{
    margin-top: -15px;
    color:white;
}


.main-body {
    padding: 40px;
}

.main-body a{
    color: black;
}

/* Listing Preview Styling */

.carousel {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 40px;
}

.listing-container {

    height: auto;
    width: 350px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    margin: 15px 15px 15px 0px;

    border: solid 1px #575757;
    border-radius: 20px;
}

.listing-container hr {
    width: 90%;
}

.listing-container .listing-preview-display {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listing-container .listing-preview-image {
    align-self: center;
    justify-self: center;
}

.listing-container .listing-preview-image img {
    width: 175px;
    height: 250px;
    object-fit: contain;
}

.listing-container .listing-preview-display .listing-preview-title {
    font-size: 22px;
    color: black;
}

.listing-container .listing-preview-display .listing-preview-title:hover {
    color: #1c1c1c;
}

.listing-container .listing-preview-display .listing-preview-description {
    font-size: 14px;
}

.listing-container .listing-preview-display .listing-preview-price {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;

    padding-top: 15px;
    padding-bottom: 5px;

    border-radius: 20px;
    background-color: black;
    color: white;
}

.listing-container .listing-preview-display .listing-preview-price span {
    font-weight: bold;
}

.listing-container .listing-preview-display .listing-preview-start-price, .listing-preview-current-price {
    display: flex;
    flex-direction: column;
}

/* Product Page Styling */
.product-body {
    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.product-body img {
    width: 500px;
    height: 350px;
    object-fit: contain;
}

.product-body .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    margin-left: 50px;

    background-color: black;
    border-radius: 10px;

    color: white
}

.product-body #watchlist {
    margin-top: 40px;
}

.product-body .bids {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;

    padding: 20px;

    background-color: black;
    color: white;
}

.product-body .place-bid-box, .bid-container {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-body .place-bid-box input {
    border: 1px solid white;
    border-radius: 10px;

    padding: 10px;

    background-color: white;
}

.product-body .bids p {
    align-self: center;
    margin-top: 10px;
}

.product-body hr {
    width: 350px;
    background-color: white;
}

.product-body .bids .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.product-body .product-details .mid-container {
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;
}

.product-body .product-details .lower-container .bids .prices .price {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-body .product-details .lower-container .bids .prices .price strong {
    margin-top: -10px;
}

/* Product Comments Styling */
.comment-box .comment {
    margin-bottom: 15px;
}

.comment-box .main-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 15px 30px 0px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: black;
    color:white;
}

.comment-box .comment img {
    width: 25px;
    height: 25px;

    margin-right: 10px;
}

.comment-box .comment .extended-info {
    display: flex;
    flex-direction: column;

    padding: 10px;

    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-comment-box {
    border: 1px solid black;
    border-radius: 10px;

    padding: 20px;
}

/* Listing Editor Page Styling */
.editor-container {
    display: flex;
    flex-direction: column;
}

.editor-container .post-listing .form-control, select {
    margin-top: 20px;
    border-radius: 10px;
}

.editor-container select {
    width: 500px;
    height: 40px;
}

.editor-container .post-listing .post-button {
    width: 100px;

    margin-top: 20px;

    border: 1px solid black;
    border-radius: 10px;

    background-color: black;
    color: white;
}

/* Styiling Categories Related Pages */
.categories-container, .products-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
